<link rel="stylesheet" href="/css/styles.css">
<div id="headerTag2">
  <h4>KidTastic</h4>
</div>
<h1>TESTING YOU ARE NOW LOGGED IN! WOOHOO</h1>
<iframe src="https://giphy.com/embed/wVRM3ItKfEsmc" width="480" height="278" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/otp-sword-art-online-i-love-her-wVRM3ItKfEsmc">via GIPHY</a></p>
<a href="/">click here to go back to the main page</a>
<!-- Loop over each object in the projects array -->
{{#each children as |Child| }}

<div class="row mb-4 project">
  <div class="col-md-5">
    <div id="homepage">
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{{get_emoji}}}
        <br
          href="/Child/{{Child.id}}">{{Child.firstName}}</br>{{Child.lastName}}</br>{{Child.birthDate}}</br>{{Child.userId}}</a>
      </h2>
    </div>



  </div>
  <div class="col-md-7">

  </div>
</div>
{{/each}}
{{>footer}}